

/* ---------------- < game-bar > ------------------ */
.bar{
    padding-top:70px ;
    position: sticky;
    top: 0;
    z-index: 2000;
}
.gameBar-Container{
    display: flex;
    width: 100%;
    height: 180px;
    overflow-x: auto;
    border: 0.1px solid rgba(88, 88, 88, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: antiquewhite;
}
.gameBar{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    flex-shrink: 0; 
    border: 0.1px solid rgba(88, 88, 88, 0.1);
    box-sizing: border-box;
    background-color: rgb(254, 255, 255);
}

.team{
    display: flex; 
    flex:1; 
    align-items: center;
    margin: 0;
    margin: 0 15px;
}
.team img{
    width: 50px;
    height: 50px;
}
.team p{
    margin: 0;
    margin-left: 10px;
}
.location{
    display: flex;
    flex:1; 
    margin: 0 15px;
}

.l1{
    display: flex;
}
.l1 img{
    width: 50px;
    height: 50px;
    vertical-align:bottom
}
.l1 p{
    line-height:0.8;
    margin-left: 10px;
}
.l2{
    margin-left: auto; 
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.gameType{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
}
.gameType p{
    margin: 0;
    margin-right: auto;
    margin-left: 10px;   
}
.seeall{
    background-color:#f6f6f6;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seeall a{
    text-decoration: none;
    color: rgb(0, 147, 215);
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style:normal;
    font-weight: 500;
}
.seeall a:hover {
    text-decoration: underline; 
  }
/* ---------------- < header > ------------------ */
.headerBG{
    width: 100%;
    height: 300px;
    position: relative;
}
.headerBG img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headCintainer{
    position: absolute;
    width: 450px;
    height: 100px;
    right: 100px;
    bottom:20px;
    display: flex;
}
.welcome{
   flex:2
}
.welcome img{
    
    width: 300px;
    height: auto;
}
.welcome p{
    margin: 0;
    padding: 0;
    text-align: end;
}
.w2{
    margin-left: 10px;
    position: relative;
    flex:1
    
}
.w2 img{
    width: 80px;
    height: auto;
    margin-top: -30px;
}
#c{
    color:#eaeaea;
    position: absolute;
    top:5px;
    width: 50px;
    left: 18px;
    word-wrap: break-word; 
}
/* ---------------- < main > ------------------ */
.mainBody{
   padding-top: 40px;
   gap:30px;
    background-color: antiquewhite;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex
    
}
.titleContainer{
    flex: 1.5;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
}
.player{
    flex: 1;
    height: 100%;
    margin: 0 30px 0 0;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.lastgame{
    height: 400px;
    width: auto;
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.lastgame a{  
    cursor: pointer;  
}
.LG-p1{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.LG-p1 p{
    margin-left: 20px;
}
.LG-p1 img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.teamboard{
   
    width: auto;
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 370px;
    margin-top: 30px;
 
    margin-left: 30px;
  
   
  margin-bottom: 30px;
}
/*hr{
    width: calc(100% - 40px);
}*/
.hbg {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 250px;
   
    margin: 0 20px;
    background-color: aqua;
    position: relative;
}

.hbg img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.mask{
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 2000;
    margin-top: 190px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mask p{
    z-index: 3000;
    opacity: 1;
}
.teams{
    overflow-x: auto;
    width:100%;
    margin: 0 20px;
    height:auto;
    display: flex;
    margin-bottom: 50px;
}
.perteam{
    
    height: 100%;
    border-right: 2px solid  rgba(155, 155, 155, 0.1);
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}
.teamlogo{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.teamlogo img{
    width: 100%;
    height: 100%;
}
.teamP{
    
    margin-top: 5px;
}
.teamP p{
    margin: 0 20px;
}
.perteam_end{
    
    height: 100%;
    background-color:#f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.perteam_end a{
    text-decoration: none;
    color: rgb(0, 147, 215);
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style:normal;
    font-weight: 500;
}
.perteam_end a:hover {
    text-decoration: underline; 
  }

.player-title{
    padding: 10px;
    height: 50px;
    margin: 0 auto;
    background-color:#27313c ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-title li{
    line-height: 3;
    flex:0.5
    
}
.player-title li:nth-child(2){
    flex:0.01
}
.player-title li:nth-child(4){
    flex:0.01
}
.player-title li:nth-child(1){
    width: 100px;
    flex:0.2
    
  
}
.player hr{
    opacity: 0.3;
}
.end{
    color: rgb(85, 85, 85);
    font-family: Noto Sans TC;
    font-size: 12px;
    font-style:normal;
    font-weight: 400;
    margin: 25px 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.end p{
    margin: 0;
}
.end img{
    width: 12px;
    height: 12px;
}
.text888{
    color: rgb(0, 0, 0);
    font-family: Noto Sans TC;
    font-size: 10px;
    font-style:normal;
    font-weight: 500;
}

/* 在您的CSS样式文件中定义一个类来更改表头单元格颜色 */


/* ---------------- < footer > ------------------ */
footer {
    bottom: 0;
    width: 100%;
    height:300px; /* 或者使用其他你想要的高度 */
    background-color: black;
    margin-top: 120px;
}

@media screen and (min-width: 830px) and (max-width: 1200px){ 
    .mainBody {
        width: 100%;
    }}
