<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMES</title>
    <link rel="stylesheet" type="text/css" href="/static/css/games.css">
    <link rel="stylesheet" type="text/css" href="/static/css/commons.css">
</head>
</head>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-logo">
                <img src="/static/images/bn_pleague-360x360-1.png">
            </div>
            <ul class="nav-item">
                <li class="text">近期賽事</li><p style="color: white;">|</p>
                <li class="text">球員數據</li><p style="color: white;">|</p>
                <li class="text">球隊數據</li><p style="color: white;">|</p>
            </ul>
            <div class="sign">
                <div class="signature"><img id="welcomePic" src=""></div>
                <div class="signout text" id="welcomeNickname"><p></p></div>
            </div>
        </div>
    </nav>
    <section>
        <div class="team-score">
            <div class="score-bg">
                <img src="/static/images/gbg.jpg">
            </div>
            <div class="game-info">
                <div class="gameP">
                    <p id="date">023-10-09 17:00 </p>
                    <p class="gg">2023-24 P.LEAGUER+例行賽</p>
                </div>
                <div class="score-board">
                    <div class="gpic">
                        <img id="gpic" src="/static/images/logo.png">
                    </div>
                    <div class="gcontainer">
                        <div class="gscore">
                            <div class="gmain"><p>主隊</p></div>
                            <div class="g" id="mfinal"><p>97</p></div>
                            <div class="gteam" id="mteam"><p>富邦勇士</p></div>
                        </div>
                    </div>
                    <div class="gul">
                        <ul>
                            <li class="q1-m" id="mQ1">12</li><li class="q">-- Q1 -- </li><li class="q1-g" id="gQ1">12</li>
                        </ul>
                        <ul>
                            <li class="q1-m" id="mQ2">12</li><li class="q">-- Q2 --</li><li class="q1-g" id="gQ2">12</li>
                        </ul>
                        <ul>
                            <li class="q1-m" id="mQ3">12</li><li class="q">-- Q3 --</li><li class="q1-g" id="gQ3">12</li>
                        </ul>
                        <ul>
                            <li class="q1-m" id="mQ4">12</li><li class="q">-- Q4 --</li><li class="q1-g" id="gQ4">12</li>
                        </ul>
                        
                        <ul>
                            <li class="q1-m" id="mQ5">12</li><li class="q">FINAL </li><li class="q1-g" id="gQ5">12</li>
                        </ul><hr>
                        
                    </div>
                    <div class="gcontainer">
                        <div class="gscore">
                            <div class="gmain2"><p>主隊</p></div>
                            <div class="g2" id="gfinal"><p>97</p></div>
                            <div class="gteam2" id="gteam"><p>富邦勇士</p></div>
                        </div>
                    </div>
                    <div class="gpic" >
                        <img id="mpic" src="/static/images/logo.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="compare">
            <div class="c-header">
                <div class="teams" id="T1">
                    <p id="T1name">公牛</p>
                </div>
                <div class="teams" id="T2">
                    <p id="T2name">公牛</p>
                </div>
            </div>

            <div class="c-team">
                <div class="playerInfo">
                    <div class="backNumber1"><p>球員</p></div>
                </div>
                <div class="gameInfo">
                    <div class="minutes"><p>分鐘</p></div>
                    <div class="backboard"><p>籃板</p></div>
                    <div class="assist"><p>助攻</p></div>
                    <div class="Score"><p>得分</p></div>
                </div>
            </div>
           <div id="pcontainer">
            <!-- <div class="c-team">
                <div class="playerInfo">
                    <div class="backNumber"><p>a</p></div>
                    <div class="playerName"><p>a</p></div>
                </div>
                <div class="gameInfo">
                    <div class="minutes"><p>a</p></div>
                    <div class="backboard"><p>a</p></div>
                    <div class="assist"><p>a</p></div>
                    <div class="Score"><p>a</p></div>
                </div>
            </div>
          
            <div class="c-team">
                <div class="playerInfo">
                    <div class="backNumber"><p>a</p></div>
                    <div class="playerName"><p>林書豪</p></div>
                </div>
                <div class="gameInfo">
                    <div class="minutes"><p>112</p></div>
                    <div class="backboard"><p>12</p></div>
                    <div class="assist"><p>12</p></div>
                    <div class="Score"><p>12</p></div>
                </div>
            </div></div> -->
        </div>
    </section>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/todayGame.js"></script>
    
</body>
</html>