<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <link rel="stylesheet" type="text/css" href="/static/css/member.css">
    <link rel="stylesheet" type="text/css" href="/static/css/commons.css">
</head>
</head>
</head>
<body>
    /*會員頭像 頭像選擇 簽到 登出*/
    <nav>
        <div class="navbar">
            <div class="nav-logo">
                <img src="/static/images/bn_pleague-360x360-1.png">
            </div>
            <ul class="nav-item">
                <li class="text">近期賽事</li><p style="color: white;">|</p>
                <li class="text">球員數據</li><p style="color: white;">|</p>
                <li class="text">球隊數據</li><p style="color: white;">|</p>
            </ul>
            <div class="sign">
                <div class="signature"><img src="/static/images/logo.png"></div>
                <div class="signout text"><p>Hi,LEEGA</p></div>
            </div>
        </div>
    </nav>
    <header class="headboard">
        <div class="headContainer">
            <div class="a1"><img src="/static/images/bar2.png"><div class="a2"><img src="/static/images/flaming2.png"></div></div>
            <p class="text4">PLG FANS CLUB</p>
        </div> 
    </header>
    <section class="memberContainer">
        <div class="memberBoard">
            <div class="boardTitle">
                <div class="b_P"><p>SIGN BOARD</p></div>
                <ul class="dayul">
                    <li>DAY1</li>
                    <li>DAY2</li>
                    <li>DAY3</li>
                    <li>DAY4</li>
                    <li>DAY5</li>
                    <li>DAY6</li>
                    <li>DAY7</li>
                </ul>
                <ul class="picul">
                    <li style="opacity: 100%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 100%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                    <li style="opacity: 30%;"><img src="/static/images/bn_pleague-360x360-1.png"></li>
                </ul>
              
            </div>
            
            <div class="hhContainer">
                <div class="mainHead">
                    <div class="headpic">
                        <img src="/static/images/logo.png">
                    </div>
                    <div class="username"><p class="text4" style="color: white;">LEE</p></div>
                </div>

                <div class="daypic">
                    <div class="perday">
                        <div class="perdaypic">
                            <img src="/static/images/logo_6_1632713555.png">
                        </div>
                        <div class="perdayP">
                            <p>DAY1</p>
                        </div>
                        
                    </div>

                    <div class="perday">
                        <div class="perdaypic">
                            <img src="/static/images/t1.png">
                        </div>
                        <div class="perdayP">
                            <p>DAY4</p>
                        </div>
                        
                    </div>

                    <div class="perday">
                        <div class="perdaypic">
                            <img src="/static/images/t2.jpg">
                        </div>
                        <div class="perdayP">
                            <p>DAY7</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button>LOG OUT</button>
    <footer></footer>
</body>
</html>